.corretas{
    display: inline-block;
      width: 100px;
      height: 100px;
      padding: 5px;
      border: 5px solid black;    
      background-color: gray; 
    }
    .erradas{
    display: inline-block;
      width: 100px;
      height: 100px;
      padding: 5px;
      border: 5px solid black;    
      background-color: gray; 
    }